
*{
	margin:0px;
	padding:0px;
}


h1{
	font-family:"Georgia", "Times", "Times New Roman", "serif";
	font-size:25px;
	font-weight: bold;
}	

h2{
	font-family:"Georgia", "Times", "Times New Roman", "serif";;
	font-size:15px;
	font-weight: bold;
}

header, section, aside, footer, nav, hgroup{
	display:block;
}


body {
	width:100%;
	display:-webkit-box;
	display-webkit-box-pack;
	background-color:#ffffff;
}

.container{
	
	max-width:960px;
	margin:20px auto;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
	background-image:url('../../images/vertical-waves.png');
}


#top_header{
	background-color:#ffffff;
	border:1px solid black;
	padding:0px;
	color:#ffffff;
	border-bottom: #777777 2px solid;
	height:100%;
}

#name{
	padding-top:30px;
	float:left;
	padding-bottom:30px;
	background:#4aaaa5;
	width:300px;
	margin-left: 90px;
	text-align:center;
	height:100%;
	overflow: auto;
}

#menu{
	color:#777777;
	float:right;
	width:240px;
	margin-top:30px;
	margin-right: 100px;
	text-align:center;
	font-family:"Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	font-size: 13px;
}

#menu li{
	display:inline-block;
	list-style:none;
	padding:5px;
}

	a:link{
		color:#777777;
		text-decoration:none;
	}
	a:visited{
		color:#777777;
		text-decoration:none;
	}
	a:hover{
		color:#4aaaa5;
		text-decoration:none;
	}


.sub-container{
	border:black solid 2px;
	-display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-flex:1;
}

#profilePic{
	float:left;
	height: 200px;
	padding-right:10px;
	padding-top:20px;
}

.writing{
	padding-top:15px;
	padding-right:;
	font-family:"Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	line-height: 25px;
	font-size: 13px;
	color:#777777;
}


#bio{
	float:left;
	max-width:520px;
	border:black 2px solid;
	background-color:#ffffff;
	padding-left:20px;
	padding-bottom:20px;
	padding-right:20px;
	margin-left:90px;
	margin-top:30px;
	margin-bottom:30px;
	display:-webkit-box;
}



#links{
	float:right;
	width:160px;
	border:black solid 2px;
	text-align:center;
	background-color:#ffffff;
	padding-bottom:5px;
	padding-right:20px;
	padding-left:20px;
	margin-right:70px;
	margin-left:20px;
	margin-top:30px;
}

#links img{
	height:50px;
	padding-top:10px;
	padding-bottom:10px
}


#footer{
	background-color:#666666;
	color:#ffffff;
	border-top:#4aaaa5 7px solid;
	text-align:center;
	font-size: 10px;
	padding-top:35px;
	padding-bottom:35px;
	clear:left;
}

#bHeader{
	font-size: 30px;
	border-bottom:solid #777777 2px;
	color:#4aaaa5;
	padding-top:20px;
	padding-bottom:20px;
}

#cHeader{
	font-size: 14px;
	border-bottom:solid #777777 2px;
	color:#4aaaa5;
	padding-top:10px;
	padding-bottom:10px;
	
}


/* Portfolio Page	-----------------------*/


#Portfolio{
	float:left;
	max-width:520px;
	border:black 2px solid;
	background-color:#ffffff;
	padding-left:20px;
	padding-bottom:20px;
	padding-right:20px;
	margin-left:90px;
	margin-top:30px;
	margin-bottom:30px;
	display:-webkit-box;
}

#hangman{
	display: inline-block;
	height:150px;
	width:240px;
	margin-top:20px;
	float:left;
	
}

		

#rpg{
	display: inline-block;
	height:150px;
	width:240px;
	margin-top:20px;
	float:right;
	
}



#trivia{
	display: inline-block;
	margin-top:30px;
	height:150px;
	width:240px;
	float:left;
	
}

		

#info{
	display: inline-block;
	margin-top:30px;
	height:150px;
	width:240px;
	float:right;
	
}

		

#rps{
	display: inline-block;
	margin-top:30px;
	height:150px;
	width:240px;
	float:left;
	
}

	
	
.image{
	height:150px;
	width:240px;
	transition: height 2s;
}

		.image:hover{
			height:165px;
		}
		

#pTitle{
position:relative;
bottom:50px;
background:#4aaaa5;
color:#ffffff;
width:100%;
font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
text-align:center;
font-weight: normal;
padding-top:10px;
padding-bottom:10px;
transition: width 2s;
}

	





/*   Contact Page  -------------------------------    */



#contact{
	float:left;
	max-width:520px;
	border:black 2px solid;
	background-color:#ffffff;
	padding-left:20px;
	padding-bottom:20px;
	padding-right:20px;
	margin-left:90px;
	margin-top:30px;
	margin-bottom:30px;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	flex:1;
}

#cForm{
	max-width: 520px;
	display:flex;
	flex-wrap:wrap;
	border:black 2px solid;
}


.cTitle{
	color:#777777;
	margin-top:20px;
	margin-bottom:5px;
	font-family:"Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

.fBox{
	height:25px;
	font-family:"Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	color:#777777;
	margin-right:100%;
	min-width: 100%;
}


#textField{
	width:100%;
	height:100px;
}

#fbutton{
	color:#ffffff;
	margin-top:10px;
	margin-bottom:5px;
	background-color:#4aaaa5;
	width:90px;
	height:25px;
	text-align:center;
	padding-top:10px;
}
	
	#fbutton:hover{
		background-color:#777777;
		color:#4aaaa5;
		text-decoration:none;
	}

@media screen and (max-width:980px) {
		.container{
		max-width:768px;
		margin:20px auto;
		display:-webkit-box;
		-webkit-box-orient:vertical;
		-webkit-box-flex:1;
		background-image:url('../../images/vertical-waves.png');
	}
	
		#bio{
		float:left;
		width:300px;
		border:black 2px solid;
		background-color:#ffffff;
		padding-left:20px;
		padding-bottom:20px;
		padding-right:20px;
		margin-left:90px;
		margin-top:30px;
		margin-bottom:30px;
		font-weight:bold;
	}
		
		#menu{
		color:#777777;
		float:right;
		width:240px;
		margin-top:30px;
		margin-right: 30px;
		text-align:center;
		font-family:"Arial", "Helvetica Neue", "Helvetica", "sans-serif";
		font-size: 13px;
	}
	
}


@media screen and (max-width:768px) {
		.container{
		max-width:640px;
		margin:20px auto;
		background-image:url('../../images/vertical-waves.png');
		
	}
	

		.sub-container{
		border:black solid 2px;
		justify-content: center;
	}

		#bio{ 
		min-width:80%;
		border:black 2px solid;
		background-color:#ffffff;
		padding-left:20px;
		padding-bottom:20px;
		padding-right:20px;
		margin-left:6.5%;
	}

		#links{
		width:80%;
		text-align:left;
		float:left;
		border:black solid 2px;
		background-color:#ffffff;
		padding-right:20px;
		margin-left:6.5%;
		margin-bottom:20px;
	}
	
		#name{
		padding-top:30px;
		float:left;
		padding-bottom:30px;
		background:#4aaaa5;
		width:300px;
		margin-left:6.5%;
		text-align:center;
		height:100%;
		overflow: auto;
	}
		#menu{
		color:#777777;
		float:right;
		width:240px;
		margin-top:30px;
		margin-right: 1px;
		text-align:center;
		font-family:"Arial", "Helvetica Neue", "Helvetica", "sans-serif";
		font-size: 13px;
	}
}

@media screen and (max-width:640px) {
		#name{
		padding-top:30px;
		float:left;
		padding-bottom:30px;
		background:#4aaaa5;
		width:100%;
		margin-left:0px;
		text-align:center;
		height:100%;
		overflow: auto;
	}

		#menu{
		color:#777777;
		float:right;
		width:100%;
		margin-top:10px;
		margin-bottom:10px;
		margin-right:0px;
		text-align:center;
		font-family:"Arial", "Helvetica Neue", "Helvetica", "sans-serif";
		font-size: 20px;
	}

		#d1{
		margin-left:5%;	
		margin-right:5%;
	}

		#d2{
		margin-left:5%;	
		margin-right:5%;
	}

}


	
